header {
    background-color:rgb(53, 53, 170);
    color: white;
    padding: 20px;
    text-align: center;
}

html, body, .container-fluid, .content-row {
    height: 100%;
}

.hide {
    display: none;
}

.city-btn:hover {
    background-color: #f6f5f5;
    cursor: pointer;
}

.card {
    background-color: #cce5ff;
}
